---
layout: simple
title:  "MyBB Documentation"
categories: [page]
---

<article class="main main--docs-page">
	<header class="main-feature">
		<div class="wrapper">
			<p class="main-feature__parent"><a href="{{ site.baseurl }}/" class="main-feature__parent__link">MyBB Documentation</a> {% include icon.html icon='chevron-right' %}</p>
			<h1 class="main-feature__page-title">All Docs</h1>
		</div>
	</header>
	<div class="wrapper">
		<div class="page-content page-content--columns">
			<div class="page-column">
				<section class="block block--basic">
					<h1>MyBB 1.8 Documentation</h1>
					<h2>Installation</h2>
					{% include category.html category="install" %}

					<h2>Merge System</h2>
					{% include category.html category="merge" %}

					<h2>FAQ</h2>
					{% include category.html category="faq" %}

					<h2>Administration</h2>
					{% include category.html category="administration" %}

					<h3>Security</h3>
					{% include category.html category="security" %}
				</section>
				<section class="block block--basic">
					<h1>MyBB 1.6 Documentation</h1>
					<p><a href="{{ site.baseurl }}/1.6/">View old documentation for 1.6</a></p>
				</section>
			</div>
			<div class="page-column">
				<section class="block block--basic">
					<h1>MyBB Development</h1>
					{% include category.html category="development" %}

					<h2>Plugin Development</h2>
					{% include category.html category="plugins" %}

					<h2>Theme Development</h2>
					{% include category.html category="themes" %}

					<h2>Translations</h2>
					{% include category.html category="translations" %}

					<h2 name="mods-guide">Extend Website</h2>
					{% include category.html category="extend" %}
				</section>
			</div>
		</div>
	</div>
</article>
