---
layout: default
title:  "MyBB Documentation"
categories: [page]
---
<article id="docs_home">
	<header id="mainFeature">
		<div class="page wrapper">
			<h1>MyBB Documentation</h1>
			<p class="description">Welcome to the MyBB Documentation. Here you can read tutorials and the online documentation and find solutions to common problems with MyBB.</p>
		</div>
	</header>

	<div class="wrapper">
		<section>
			<h1>MyBB 1.6 Documentation</h1>
		</section>

		<section>
			<h1>MyBB 1.8 Documentation</h1>

			<section>
				<h2>Installation</h2>
				{% include category.html category="install" %}
			</section>

			<section>
				<h2>Development</h2>
				{% include category.html category="development" %}

				<h3>Plugins</h3>
				{% include category.html category="plugins" %}

				<h3>Themes</h3>
				{% include category.html category="themes" %}

				<h3>Translations</h3>
				{% include category.html category="translations" %}
			</section>

			<section>
				<h2>FAQ</h2>
				{% include category.html category="faq" %}
			</section>

			<section>
				<h2>Administration</h2>
				{% include category.html category="administration" %}
			</section>
		</section>

		<section>
			<h1>MyBB 2.0 Documentation</h1>
		</section>

		<section>
			<h1>Versions</h1>
			{% include category.html category="versions" %}
		</section>

		<section>
			<h1>Uncategorized Articles</h1>
			<ul class="pages">
		    	{% for page in site.pages %}
			    	{% if page.categories %}
			    	{% else %}
			    		<li><a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a></li>
			    	{% endif %}
		    	{% endfor %}
		  	</ul>
		</section>
	</div>
</article>
