---
layout: simple
title:  "MyBB Documentation"
description: Welcome to the MyBB Documentation. Here you can read tutorials and the online documentation and find solutions to common problems with MyBB.
categories: [page]
section: docs
---

<article class="main main--docs-home">
	<header class="main-feature">
		<div class="wrapper">
			<h1 class="main-feature__page-title">{{ page.title }}</h1>
			{% if page.description == "empty" %}

			{% else %}
			<p class="main-feature__description">{{ page.description | replace:"!SITE_BASEURL!",site.baseurl }}</p>
			{% endif %}
		</div>
	</header>
	<div class="wrapper">
		<div class="page-content">
			<div class="docs-jump">
				<div class="docs-jump__tile">
					<a href="{{ site.baseurl }}/1.8/install/" class="docs-jump__tile__link">
						{% include icon.html icon='book' %}
						<span class="docs-jump__tile__title">Install MyBB</span>
					</a>
				</div>
				<div class="docs-jump__tile">
					<a href="{{ site.baseurl }}/1.8/faq/" class="docs-jump__tile__link">
						{% include icon.html icon='question-circle' %}
						<span class="docs-jump__tile__title">Common Issues</span>
					</a>
				</div>
				<div class="docs-jump__tile">
					<a href="{{ site.baseurl }}/1.8/merge/" class="docs-jump__tile__link">
						{% include icon.html icon='arrow-right' %}
						<span class="docs-jump__tile__title">Merge System</span>
					</a>
				</div>
				<div class="docs-jump__tile">
					<a href="{{ site.baseurl }}/1.8/install/upgrade/" class="docs-jump__tile__link">
						{% include icon.html icon='arrow-up' %}
						<span class="docs-jump__tile__title">Upgrade MyBB</span>
					</a>
				</div>
				<div class="docs-jump__tile">
					<a href="{{ site.baseurl }}/1.8/administration/" class="docs-jump__tile__link">
						{% include icon.html icon='cogs' %}
						<span class="docs-jump__tile__title">Administration</span>
					</a>
				</div>
				<div class="docs-jump__tile">
					<a href="{{ site.baseurl }}/1.8/administration/security/" class="docs-jump__tile__link">
						{% include icon.html icon='shield-alt' %}
						<span class="docs-jump__tile__title">Security</span>
					</a>
				</div>
				<div class="docs-jump__tile">
					<a href="{{ site.baseurl }}/1.8/development/plugins/" class="docs-jump__tile__link">
						{% include icon.html icon='puzzle-piece' %}
						<span class="docs-jump__tile__title">Plugin Development</span>
					</a>
				</div>
				<div class="docs-jump__tile">
					<a href="{{ site.baseurl }}/1.8/development/themes/" class="docs-jump__tile__link">
						{% include icon.html icon='paint-brush' %}
						<span class="docs-jump__tile__title">Theme Development</span>
					</a>
				</div>
				<div class="docs-jump__tile">
					<a href="{{ site.baseurl }}/contents/" class="docs-jump__tile__link">
						{% include icon.html icon='copy' %}
						<span class="docs-jump__tile__title">All Docs</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</article>
