<ul>
    {% for item in include.list %}
        <li>
        {% if item.first %}
            {% for part in item %}
                {{ part[0] }}{{ include.parent_suffix }}
                {% assign itemArray = part[1] %}
                {% include recursive_list.html list = itemArray parent_suffix = include.parent_suffix %}
            {% endfor %}
        {% else %}
            {% assign recursive_count = recursive_count | plus: 1 %}
            {{ item }}
        {% endif %}
        </li>
    {% endfor %}
</ul>
