article#docs_page {

	header {

		h1 {
			font-size: 1.2em;
			font-weight: normal;
			color: #999;
			margin: 0;

			a {

				&:link, &:visited {
					color: #999;
				}

				&:hover, &:active {
					color: #ccc;
				}
			}
		}

		h2 {
			margin: 0 0 -10px 0;
			font-weight: bold;
			font-size: 2.2em;
		}
	}

	.page {

		h1 {
			font-size: 1.5em;
			color: #0375c0;
		}

		h2 {
			font-size: 1.3em;
			color: #ff7500;
		}

		h3 {
			font-size: 1.1em;
		}

		h4 {
			font-size: 1em;
		}

		img {
		    max-width: 34em;
		    border: 5px solid #eee;
		}
	}

	table {
	    border: 1px solid #DFDFDF;
	    border-radius: 6px 6px 6px 6px;
	    margin: 10px;
	    border-spacing: 0px;
	}

	td {
	    border-top: 1px solid #DFDFDF;
	    padding: 5px 5px 5px 5px;
	}

	code {
	    display: inline-block;
	    border: 1px solid #DFDFDF;
	    padding: 3px;
	    border-radius: 4px 4px 4px 4px;
	    background: #F7F8FC;
	}

	.toc {
	    border: 1px solid #DFDFDF;
	    border-radius: 6px 6px 6px 6px;
	    margin: 10px;
	    border-spacing: 0px;
	    padding: 10px;
	  	width: auto;
		float: right;

		&:empty {
			display: none;
		}
	}

	.clickable-header {
	  cursor:pointer;

	  &:hover {
		  text-decoration: underline;
	  }
	}

	.top-level-header {
	  display:inline;
	}

	.back-to-top {
	  margin-left:5px;
	  cursor:pointer;
  	}

	.edit-page {
		margin-top: 30px;
		border-top: 1px solid #ddd;
		padding-top: 15px;

		.fa {
			margin-right: 10px;
		}

		.edit-page-link {
			color: #666;
			text-decoration: none;
			// border-radius: 4px;
			padding: 5px 10px;
			// display: inline-block;
			// border: 1px solid #ccc;

			&:hover, &:active {
				color: #ff7500;
			}
		}
	}

	.jump__tile {
		width: 30%;
		margin-right: 1.5%;
		margin-left: 1.5%;
		float: left;
		box-sizing: border-box;
		background: #f1f1f1;
		text-align: center;
		border-radius: 4px;
		margin-bottom: 25px;

		.jump__tile__icon {
			display: block;
			font-size: 48px;
			margin-bottom: 10px;
		}

		.jump__tile__link {
			text-decoration: none;
			padding: 40px 20px;
			display: block;
		}

		.jump__tile__title {
			font-size: 1.5em;
		}
	}

	.category-list {
		list-style: none;
		margin: 0;
		padding: 0;

		.category-list__item {
			padding: 10px;
			border-bottom: 1px solid #ddd;

			.category-list__item__link {
				display: block;
				text-decoration: none;
			}

			.category-list__item__title {
				margin: 0;
				font-size: 1.4em;
				font-weight: normal;
			}

			.category-list__item__description {
				font-size: 0.9em;
				margin: 0;
				color: #666;
			}

			&:last-child {
				border: none;
			}
		}
	}

	.eol-notice {
		width: 95%;
		background: #ff9c9c;
		border-radius: 4px;
		padding:20px;
		border:2px solid #ff0000;
		margin-right:20px;
		margin-bottom:30px;

		.eol-notice__heading {
			font-size: 2em;
			color: black;
		}
	}
}
