article#docs_page header h1 {
	font-size: 1.2em;
	font-weight: normal;
	color: #999;
	margin: 0;
}

article#docs_page header h1 a:link,
article#docs_page header h1 a:visited {
	color: #999;
}

article#docs_page header h1 a:hover,
article#docs_page header h1 a:active {
	color: #ccc;
}

article#docs_page header h2 {
	margin: 0 0 -10px 0;
	font-weight: bold;
	font-size: 2.2em;
}

article#docs_page .page h1 {
	font-size: 1.5em;
	color: #0375c0;
}

article#docs_page .page h2 {
	font-size: 1.3em;
	color: #ff7500;
}

article#docs_page .page h3 {
	font-size: 1.1em;
}

article#docs_page .page h4 {
	font-size: 1em;
}

article#docs_page .page img {
    max-width: 42em;
    border: 5px solid #eee;
}