---
layout: page
title: "1.6 Documentation"
categories: [page]
---
		<div style="width: 48%; float: left;">
			<section>
				<h1>MyBB Support</h1>

				<section>
					<h2>Installation</h2>
					{% include category.html category="mybb16_install" %}

					<h2>Merge System</h2>
					{% include category.html category="mybb16_merge" %}
				</section>

				<section>
					<h2>FAQ</h2>
					{% include category.html category="mybb16_faq" %}
				</section>

				<section>
					<h2>Administration</h2>
					{% include category.html category="mybb16_admin" %}
					<h2>Moderator CP</h2>
					{% include category.html category="mybb16_modcp" %}
				</section>

				<section>
					<h2>Front End</h2>
					{% include category.html category="mybb16_frontend" %}
				</section>
			</section>
			<section>
				<h1>MyBB 1.8 Documentation</h1>

				<a href="{{ site.baseurl }}/">View new documentation for 1.8</a>
			</section>
		</div>
		<div style="width: 48%; float: right;">
			<section>
				<h1>MyBB Development</h1>
				{% include category.html category="mybb16_development" %}

				<h2>Plugin Development</h2>
				{% include category.html category="mybb16_plugins" %}

				<h2>Theme Development</h2>
				{% include category.html category="mybb16_themes" %}
			</section>

			<section>
				<h1>MyBB 1.6 Database</h1>
				{% include category.html category="mybb16_db" %}
			</section>

			<section>
				<h1>More</h1>
				{% include category.html category="mybb16" %}
		</div>
		<br style="clear:both" />
