---
layout: simple
section: docs
---
<article class="main main--docs-page">
	<header class="main-feature">
		<div class="wrapper">
			<p class="main-feature__parent"><a href="{{ site.baseurl }}/" class="main-feature__parent__link">MyBB Documentation</a> {% include icon.html icon='chevron-right' %}</p>
			<h1 class="main-feature__page-title">{{ page.title }}</h1>
			{% if page.description == "empty" %}

			{% else %}
			<p class="main-feature__description">{{ page.description | replace:"!SITE_BASEURL!",site.baseurl }}</p>
			{% endif %}
		</div>
	</header>
	<div class="wrapper">
		{% if page.url contains "/1.6/" %}
		<div class="block">
			<div class="version-list-eol-note">
				{% include icon.html icon='exclamation-triangle' %}
				<p><strong>The 1.6 Documentation is no longer maintained and some information may be outdated.</strong></p>
				<p>The MyBB 1.6 series reached end of life on October 1, 2015.</p>
				<p>
					This means there will be no more security or maintenance releases for these series and forums running these versions of MyBB may be at risk of unfixed security issues. <strong>All administrators are strongly encouraged to upgrade their forums to the latest release of MyBB as soon as possible.</strong>
				</p>
				<div class="release-notes__note__buttons">
					<a href="{{ site.mainsiteurl }}/download/" class="button button--medium">
						{% include icon.html icon="download" %} Download latest
					</a>
					<a href="https://blog.mybb.com/2015/10/01/support-for-mybb-1-6-x-has-ended/" class="button button--medium button--secondary button--default-background-border">
						{% include icon.html icon="info-circle" %} Find out more
					</a>
				</div>
			</div>
		</div>
		{% endif %}
		<div class="page-content block--markdown">
			{% if page.toc != false and layout.toc != false %}
			<div class="toc"></div>
			{% endif %}

			{{ content }}

			<p class="edit-page">
				<a href="https://github.com/mybb/docs.mybb.com/blob/gh-pages/{{ page.path }}" title="Contribute to this article on GitHub" class="edit-page__link">{% include icon.html icon='pencil-alt' %} Edit this page on GitHub</a>
			</p>
		</div>
	</div>
</article>
