---
layout: default
---
<article id="docs_page">
	<header id="mainFeature">
		<div class="wrapper">
			<h1><a href="{{ site.baseurl }}/">MyBB Documentation</a> &rsaquo;</h1>
			<h2>{{ page.title }}</h2>
		</div>
	</header>
	<div class="page wrapper">
		<div class="toc"></div>

		{{ content }}

		<p class="edit-page">
			<a href="https://github.com/mybb/docs.mybb.com/blob/gh-pages/{{ page.path }}" title="Contribute to this article on GitHub" class="edit-page-link"><i class="fa fa-pencil"></i><span class="text">Edit this page on GitHub</span></a>
		</p>
	</div>
</article>
