---
layout: page
toc: false
---
{% if page.type_major %}
    {% assign type = 'Major' %}
{% else %}
    {% assign typesCsv = '' %}

    {% if page.type_feature == true or page.type contains 'feature' %}
        {% assign typesCsv = typesCsv | append: ' Feature' %}
    {% endif %}
    {% if page.fixed_issues_number or page.type contains 'maintenance' %}
        {% if page.type_maintenance != false or page.type_maintenance == true %}
            {% assign typesCsv = typesCsv | append: ' Maintenance' %}
        {% endif %}
    {% endif %}
    {% if page.fixed_security_issues_number or page.type contains 'security' %}
        {% if page.type_security != false or page.type_security == true %}
            {% assign typesCsv = typesCsv | append: ' Security' %}
        {% endif %}
    {% endif %}

    {% assign type = typesCsv | strip | replace: ' ', ', ' %}
{% endif %}

{% if page.version_code %}
    {% assign version_code = page.version_code %}
{% else %}
    {% assign version_code = page.version_number | replace: '.', '' %}
{% endif %}


<div class="releaseNotes">

<h1>MyBB {{ page.version_number }}</h1>
<strong>Version:</strong> {{ page.version_number }} (code {{ version_code }})<br>
<strong>Release date:</strong> {{ page.release_date | date: '%e %B %Y' }}<br>
<strong>Type:</strong> {{ type }}<br>
<br>

{% if page.packages %}
    <div class="downloadPackages">
        {% for package in page.packages %}
            {% for package_type in site.data.packaging.types %}
                {% if package_type.type == package.type %}
                    {% assign package_type = package_type %}
                    {% break %}
                {% endif %}
            {% endfor %}

            <div class="downloadPackages__package downloadPackages__package--{{ package.type }}">
                <p class="downloadPackages__package__title"><i class="fa fa-fw {{ package_type.icon }}"></i> {{ package_type.name }}</p>
                <p class="downloadPackages__package__description">{{ package_type.description }}</p>
                {% for format in package.formats %}
                    <div class="downloadPackages__format downloadPackages__format--{{ format.name }}">
                        {% for location in format.locations %}
                            {% for package_location in site.data.packaging.locations %}
                                {% if package_location.id == location.id %}
                                    {% assign package_location = package_location %}
                                    {% break %}
                                {% endif %}
                            {% endfor %}

                            {% assign url = package_location.url | replace: '{TYPE}', package.type | replace: '{VERSION_CODE}', version_code | replace: '{FORMAT}', format.name %}

                            <a href="{{ url }}" class="downloadPackages__location downloadPackages__location--{{ location.id }}">
                                <p class="downloadPackages__location__name"><i class="fa fa-fw fa-cloud-download"></i> Download from <strong>{{ package_location.name }}</strong></p>
                            </a>
                        {% endfor %}

                        {% if format.checksums %}
                        <div class="downloadPackages__checksums">
                            {% for checksum in format.checksums %}
                                <div class="downloadPackages__checksums_checksum">
                                    <p class="downloadPackages__checksums__type">{{ checksum.type }}:</p>
                                    <p class="downloadPackages__checksums__value">{{ checksum.value }}</code>
                                </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <p class="packagesVerifyingNote">
        <a href="https://mybb.com/download/verifying/">How to verify packages &rarr;</a>
    </p>
{% endif %}

{% if page.upgrade_script_required %}
    <div class="note note--upgradeScriptRequired">
        <i class="fa fa-fw fa-cogs"></i>
        <p>Running the <strong>upgrade script</strong> is required.</p>
    </div>
{% endif %}

{% if page.version_number contains '1.8.' %}
<div class="note">
    <i class="fa fa-fw fa-arrow-up"></i>
    <p>Before performing any upgrade please remember to backup your forum’s files and database and store them safely. If you have edited core files, including language files, please make sure you make a changelog for these changes so you can make them again (if necessary) once the upgrade is complete.</p>
    <p>Follow the <a href="https://docs.mybb.com/1.8/install/upgrade/">Upgrade Documentation</a> for more detailed instructions.</p>
</div>
{% endif %}

{% if page.comment %}
    <div class="note note--comment">
        <i class="fa fa-fw fa-quote-left"></i>
        {{ page.comment | markdownify }}
    </div>
{% endif %}

<br>

{% if page.fixed_security_issues_number %}
    <h2>Security vulnerabilities addressed ({{ page.fixed_security_issues_number }})</h2>
    {% if page.fixed_security_issues %}
        <table class="standard_table">
            <thead>
                <tr>
                    <th>Severity</th>
                    <th>Description</th>
                    <th>Reported by</th>
                </tr>
            </thead>
            <tbody>
                {% for issue in page.fixed_security_issues %}
                    <tr>
                        <td>{{ issue.severity | capitalize }} risk</td>
                        <td>{{ issue.description }}</td>
                        <td>
                            {% if issue.reported_by.name %}
                                {% assign reported_by = '<i>' | append: (issue.reported_by.name | markdownify | replace: '<p>', '' | replace: '</p>
', '') %}
                                {% if issue.reported_by.association %}
                                    {% assign reported_by = reported_by | append: '<i>' | append: '<br><small>' | append: (issue.reported_by.association | markdownify | replace: '<p>', '' | replace: '</p>
', '') | append: '</small>' %}
                                {% endif %}
                                {{ reported_by }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <br>
{% endif %}

{% if page.fixed_issues_number %}
    <h2>Issues resolved ({{ page.fixed_issues_number }})</h2>
    {% if page.fixed_issues_link %}
        <a href="{{ page.fixed_issues_link }}"><strong>{{ page.fixed_issues_link }}</strong></a>
    {% endif %}
    {% if page.fixed_issues %}
        <ul>
            {% for issue in page.fixed_issues %}
                <li>{{ issue.description | markdownify }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <br>
    <br>
{% endif %}


{% if page.changed_templates or page.changed_files %}
<h2>Update Details</h2>
{% endif %}

{% if page.changed_files_list %}
    <h3>Changed Files ({{ page.changed_files_list | size }})</h3>
    <code>{{ page.changed_files_list | join: '<br>' }}</code>
    <br>
    <br>
{% elsif page.changed_files %}
    {% if page.changed_files.first %}
        {% capture list_output %}
            {% include recursive_list.html list = page.changed_files parent_suffix = '/' %}
        {% endcapture %}
        <h3>Changed Files ({{ recursive_count }})</h3>
        <small>
            {{ list_output }}
        </small>
    {% else %}
        <h3>Changed Files</h3>
        <small>
            {{ page.changed_files | markdownify }}
        </small>
    {% endif %}
    <br>
{% endif %}

{% if page.changed_language_files_number %}
    <h3>Changed Language Files ({{ page.changed_language_files_number }})</h3>
    There are changes to <strong>{{ page.changed_language_files_number }}</strong> language file(s). Changed languages files can be cross-referenced from the list above.
    <br>
    <br>
{% endif %}

{% if page.changed_templates %}
    <h3>Changed Templates ({{ page.changed_templates | size }})</h3>
    <ul>
        {% for name in page.changed_templates %}
            <li><code>{{ name }}</code></li>
        {% endfor %}
    </ul>
    <br>
{% endif %}

{% assign contentStripped = page.content | strip %}

</div>

{% if contentStripped != '' %}
    <hr>
    {{ page.content }}
{% endif %}
